.box_habilidades {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 1rem;
  width: 15vw;
  height: 15vh;
}

.titulo_pagina--habilidades {
  display: flex;
  justify-content: center;
  color: var(--branco);
  width: 70vw;
  font-family: 'Krona One', sans-serif;
  font-size: 1.75rem;
  line-height: 2rem;
  text-align: center;
  color: var(--cor-navegacao);
}

.conteudo_pagina--habilidades {
  display: flex;
  justify-content: center;
  width: 70vw;
  gap: 4rem;
  margin: 2rem auto;
}

.icones_habilidades {
  color: var(--cor-navegacao);
  font-size: 3rem
}